<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<th:block th:fragment="setContent(content)">
  <head>

    <head>

      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

      <title>Simple Sidebar - Start Bootstrap Template</title>


      <!-- Bootstrap core CSS -->
      <link th:href="@{/vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet">

      <!-- Custom styles for this template -->
      <link th:href="@{/css/simple-sidebar.css}" rel="stylesheet">

      <!-- Bootstrap core JavaScript -->
      <script th:src="@{/vendor/jquery/jquery.min.js}"></script>
      <script th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>

    </head>

  <body>

  <div class="d-flex" id="wrapper">
    <div class="container-fluid">
      <h1 class="mt-4">Review Register Page</h1>
      <form th:action="@{/place/review/register}" th:method="post">

        <div class="form-group">
          <label >Reviewer email</label>
          <input type="text" class="form-control" name="email" >
        </div>
<!--        <input type="hidden" name="placeId" th:value="${email}">-->

        <input type="hidden" name="placeId" th:value="${placeId}">

        <div class="form-group">
          <label >Grade <span class="grade"></span></label>
          <div class='starrr'></div>
        </div>

        <input type="hidden" id="inputgrade" name="grade" value="">

        <div class="form-group">
          <label >Review Text</label>
          <input type="text" class="form-control" name="text" placeholder="솔직한 리뷰를 적어주세요." >
        </div>

        <div class="form-group fileForm">
          <label >ImageFiles</label>
          <div class="custom-file">
            <input type="file" class="custom-file-input files" id="fileInput" multiple>
            <label class="custom-file-label" data-browse="Browse"></label>
          </div>
        </div>

        <div class="box"></div>

        <style>
          .uploadResult {
            width: 100%;
            background-color: gray;
            margin-top: 10px;
          }

          .uploadResult ul {
            display: flex;
            flex-flow: row;
            justify-content: center;
            align-items: center;
            vertical-align: top;
            overflow: auto;
          }

          .uploadResult ul li {
            list-style: none;
            padding: 10px;
            margin-left: 2em;
          }

          .uploadResult ul li img {
            width: 100px;
          }

        </style>

        <div class="uploadResult">
          <ul>

          </ul>
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
      </form>

      <script th:src="@{/starrr.js}"></script>
      <link th:href="@{/css/starrr.css}" rel="stylesheet">
      <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.2.0/css/font-awesome.min.css">

      <script>
        $(document).ready(function(e) {

          var grade = 0;
          document.getElementById('inputgrade').value = grade;

          $('.starrr').starrr({
            rating: grade,
            change: function(e, value){
              if (value) {
                console.log(value);
                grade = value;
                console.log(grade);
              }
            }
          });

          var regex = new RegExp("(.*?)\.(exe|sh|zip|alz|tiff)$");
          var maxSize = 10485760; //10MB

          function checkExtension(fileName, fileSize){

            if(fileSize >= maxSize){
              alert("파일 사이즈 초과");
              return false;
            }

            if(regex.test(fileName)){
              alert("해당 종류의 파일은 업로드할 수 없습니다.");
              return false;
            }
            return true;
          }

          $(".custom-file-input").on("change", function() {

            var fileName = $(this).val().split("\\").pop();
            $(this).siblings(".custom-file-label").addClass("selected").html(fileName);

            var formData = new FormData();
            var inputFile = $(this);
            var files = inputFile[0].files;
            var appended = false;

            for (var i = 0; i < files.length; i++) {

              if(!checkExtension(files[i].name, files[i].size) ){
                return false;
              }

              console.log(files[i]);
              formData.append("uploadFiles", files[i]);
              appended = true;
            }

            //upload를 하지 않는다.
            if (!appended) {return;}

            for (var value of formData.values()) {
              console.log(value);
            }

            //실제 업로드 부분
            //upload ajax
            $.ajax({
              url: '/uploadAjax',
              processData: false,
              contentType: false,
              data: formData,
              type: 'POST',
              dataType:'json',
              success: function(result){
                console.log(result);
                showResult(result);
              },
              error: function(jqXHR, textStatus, errorThrown){
                console.log(textStatus);
              }
            }); //$.ajax
          }); //end change event

          function showResult(uploadResultArr){

            var uploadUL = $(".uploadResult ul");

            var str ="";

            $(uploadResultArr).each(function(i, obj) {

              str += "<li data-name='" + obj.fileName + "' data-path='"+obj.folderPath+"' data-uuid='"+obj.uuid+"'>";
              str + " <div>";
              str += "<button type='button' data-file=\'" + obj.imageURL + "\' "
              str += "class='btn-warning btn-sm'>X</button><br>";
              str += "<img src='/display?fileName=" + obj.thumbnailURL + "'>";
              str += "</div>";
              str + "</li>";
            });

            uploadUL.append(str);
          }

          $(".uploadResult ").on("click", "li button", function(e){

            console.log("delete file");

            var targetFile = $(this).data("file");

            var targetLi = $(this).closest("li");

            $.ajax({
              url: '/removeFile',
              data: {fileName: targetFile},
              dataType:'text',
              type: 'POST',
              success: function(result){
                alert(result);

                targetLi.remove();
              }
            }); //$.ajax
          });

          //prevent submit
          $(".btn-primary").on("click", function(e) {
            e.preventDefault();

            $('input[name=grade]').attr('value',grade);
            console.log(grade);

            var str = "";

            $(".uploadResult li").each(function(i,obj){
              var target = $(obj);

              str += "<input type='hidden' name='imageDTOList["+i+"].imgName' value='"+target.data('name') +"'>";

              str += "<input type='hidden' name='imageDTOList["+i+"].path' value='"+target.data('path')+"'>";

              str += "<input type='hidden' name='imageDTOList["+i+"].uuid' value='"+target.data('uuid')+"'>";

            });

            //태그들이 추가된 것을 확인한 후에 comment를 제거
            $(".box").html(str);

            $("form").submit();

          });

        }); //document ready
      </script>

    </div>

  </div>
  <!-- /#page-content-wrapper -->

  </div>
  <!-- /#wrapper -->

  </body>
</th:block>
</html>

