<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<th:block th:fragment="setContent(content)">
  <head>

    <head>

      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <meta name="description" content="">
      <meta name="author" content="">

      <title>Simple Sidebar - Start Bootstrap Template</title>

      <title>Simple Sidebar - Start Bootstrap Template</title>

      <!-- Bootstrap core CSS -->
      <link th:href="@{/vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet">

      <!-- Custom styles for this template -->
      <link th:href="@{/css/simple-sidebar.css}" rel="stylesheet">

      <!-- Bootstrap core JavaScript -->
      <script th:src="@{/vendor/jquery/jquery.min.js}"></script>
      <script th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>

    </head>

    <style>
      .uploadResult {
        width: 100%;
        background-color: gray;
        margin-top: 10px;
      }

      .uploadResult ul {
        display: flex;
        flex-flow: row;
        justify-content: center;
        align-items: center;
        vertical-align: top;
        overflow: auto;
      }

      .uploadResult ul li {
        list-style: none;
        ding: 10px;
        margin-left: 2em;
      }

      .uploadResult ul li img {
        width: 100px;
      }

      .map_div {
        margin-left: 12px;
      }
      .map {
        width: 450px;
        height: 200px;
      }
    </style>

  <body>

  <div class="d-flex" id="wrapper">

      <div class="container-fluid">

        <h1 class="mt-4">Place Read Page
          <span>
            <a th:href="@{/place/review/register(placeId=${dto.placeId}, page=${page})}">
              <button type="button" class="btn btn-outline-primary">REGISTER</button>
            </a>
          </span>
        </h1>

        <div class="form-group">
          <label >Name</label>
          <input type="text" class="form-control" name="title" th:value="${dto.name}" readonly>
        </div>

        <div class="form-group">
          <label >Address</label>
          <input type="text" class="form-control" name="title" th:value="${dto.address}" readonly>
        </div>

        <div class="form-group">
          <label >Tel</label>
          <input type="text" class="form-control" name="title" th:value="${dto.tel}" readonly>
        </div>

        <div class="form-group">
          <label >Menu</label>
          <input type="text" class="form-control" name="title" th:value="${dto.menu}" readonly>
        </div>

        <div class="map_div map">
          <iframe class="map" th:src="${dto.map}"></iframe>
        </div>

        <div class="list-group reviewList">

        </div>

        <div class="imageModal modal " tabindex="-2" role="dialog">
          <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title">Picture</h5>

                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">

              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>

        <script th:src="@{/starrr.js}"></script>
        <link th:href="@{/css/starrr.css}" rel="stylesheet">
        <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.2.0/css/font-awesome.min.css">

        <script>
          $(document).ready(function(e) {

            var placeId = [[${dto.placeId}]];
            var reviewModal = $(".reviewModal");
            var inputUserId = $('input[name="userId"]');
            var inputText = $('input[name="text"]');

            //페이지가 열리면 바로 리뷰 데이터들을 가져와서 사용한다.
            function getPlaceReviews() {

              function formatTime(str){
                var date = new Date(str);

                return date.getFullYear() + '/' +
                        (date.getMonth() + 1) + '/' +
                        date.getDate() + ' ' +
                        date.getHours() + ':' +
                        date.getMinutes();
              }

              $.getJSON("/reviews/"+ placeId +"/all", function(arr) {
                var str = "";

                $.each(arr, function (idx, review) {

                  console.log(review);

                  $(".starrr").starrr({
                    rating:review.grade,
                    readOnly: true
                  })

                  str += '    <div class="card-body" data-reviewId=' + review.reviewId + ' data-mid=' + review.userId + '>';
                  str += '    <h6 class="card-subtitle mb-2 text-muted">' + review.nickname +
                          '    <span><div class="starrr">&nbsp;&nbsp;| grade : '+review.grade+'</div></span></h6>';
                  str += '    <h5 class="card-title">' + review.text + '</h5>';
                  str += '    <p class="card-text">' + formatTime(review.regDate) + '</p>';

                  if (review.imageDTOList.length > 0) {
                    str += '    <div class="uploadResult"><ul>';

                    for (var i = 0; i < review.imageDTOList.length; i++) {
                      var imageDTO = review.imageDTOList[i];
                      if (review.imageDTOList[i].objectURL != null) {
                        str += '<li>';
                        str += '<img src="' + imageDTO.objectURL + '">';
                        str += '</li>';
                      }
                    }
                    str += '    </ul></div>';
                  }
                  str += '</div>';

                  $(".reviewList").html(str);
                });
              });
            }

            getPlaceReviews();

            var reviewId;

            $(".uploadResult li").click(function() {

              var file = $(this).data('file');

              console.log(file);

              // $('.imageModal .modal-body').html("<img style='width:100%' src='/display?fileName="+file+"&size=1' >")

              $(".imageModal").modal("show");

            });

          });
        </script>

      </div>

    </div>
    <!-- /#page-content-wrapper -->

  </div>
  <!-- /#wrapper -->
  </body>
</th:block>
</html>

